@model EasyTicket.Connection.EF.Category

@{
    ViewBag.Title = "Create Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New Category</h4>
            <p class="card-description">Create New Category</p>
            @using (Html.BeginForm("Create", "Category", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(x => x.Name, new { @for = "exampleInputName1" })
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "exampleInputName1", @placeholder = "Name" })
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.MetaTitle, new { @for = "exampleInputPassword4" })
                    @Html.TextBoxFor(x => x.MetaTitle, new { @class = "form-control", @id = "exampleInputPassword4", @placeholder = "MetaTitle" })
                    @Html.ValidationMessageFor(x => x.MetaTitle, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            }
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
